
:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
}

body {
    display: flex;
    flex-direction: column;
    Font-size: 16px;
    line-height: 21px;
    font-family: 'Red Hat Display', sans-serif;
    background: #E0E8FF;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 1440px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 697px;
    border-radius: 10px;
    background: #FFFFFF;
    justify-content: space-between;
}

.card-container img {
    border-radius: 10px 10px 0 0;
}

h2 {
    font-size: 28px;
}

.headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline-container p {
    text-align: center;
    line-height: 26px;
    font-style: normal;
    width: 300px;
    color: #717FA6;
}

.text-price-logo-container {
    display: flex;
    justify-content: space-around;
}

.price-container {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.price-only {
    display: flex;
    flex-direction: column;
}
#price-card {
    font-weight: 500;
    color: #717FA6;
}
.annual {
    font-weight: 900;
    color: #1F2E55;
}

.change-button {
    font-weight: 700;
    line-height: 19px;
    color: #382AE1;
}

.change-button:hover {
    text-decoration: none;
    color: #766CF1;
}

button {
    margin-left: 47px;
    width: 354px;
    height: 50px;
    background: hsl(245, 75%, 52%);
    box-shadow: 0px 20px 21px rgb(56 42 255 / 19%);
    border-radius: 11px;
    border: aliceblue;
    color: white;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
}

button:hover {
    background-color: #766CF1;
}

.cancel {
    text-align: center;
}

.cancel a {
    text-align: center;
    font-weight: 900;
    font-size: 15px;
    color: #717FA6;
    text-decoration: none;
}

.cancel a:hover {
    color: #1F2e55;
}